body {
  color: $fi-dark-grey;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  @extend %visually-hidden;
}

.page {
  box-sizing: border-box;
  margin: auto;
  max-width: 500px;
  padding: 0 1rem;

  &--home {
    @media screen and (min-height: 500px) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  h1 {
    color: $fi-red;

    p {
      font-family: "Montserrat";
      font-size: 1.5rem;
      margin: 1rem 0 0;
      padding: 0;
      text-align: center;

      @media screen and (min-width: 500px) {
        float: right;
        font-size: 1.3rem;
        margin: -3.5rem 0 0 0;
        text-align: left;
        width: 15.5rem
      }
    }
  }

  h2 {
    margin-top: 1.5rem;
    text-align: center;

    &.section-title { margin-top: 3rem; }
  }

  p {
    font-size: 1.2rem;
    margin: 2rem 0;
    text-align: center;

    &.intro {
      font-size: 1rem;
    }
  }

  a {
    color: $fi-red;
    text-decoration: none;
    transition: color .2s;

    &:hover,
    &:focus {
      color: $fi-blue;
    }
  }
}
