
.columns {
  @include mq(medium) {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &--2cols &__column {
      flex-basis: calc(50% - .5rem);
      width: calc(50% - .5rem);
    }
  }
}
