{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="page page--home">
    <h1>
      <img src="images/logo_webradio.svg" alt="Radio Insoumise" />
      <p>La radio sans cravate</p>
    </h1>
    <p>Site en construction. En attendant, vous pouvez suivre nos activités via les liens ci-dessous :</p>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/RadioInsoumise/" title="Facebook"><span class="icon icon-facebook"></span><span class="visually-hidden">Facebook</span></a></li>
      <li><a href="https://twitter.com/Radio_Insoumise" title="Twitter"><span class="icon icon-twitter"></span><span class="visually-hidden">Twitter</span></a></li>
      <li><a href="https://www.instagram.com/radioinsoumise/" title="Instagram"><span class="icon icon-instagram"></span><span class="visually-hidden">Instagram</span></a></li>
      <!--<li><a href="https://www.twitch.tv/radioinsoumise" title="Twitch"><span class="icon icon-twitch"></span><span class="visually-hidden">Twitch</span></a></li>-->
      <li><a href="https://www.youtube.com/c/RadioInsoumiseLivePodcasts" title="Youtube"><span class="icon icon-youtube"></span><span class="visually-hidden">Youtube</span></a></li>
    </ul>
    <p><a class="link--job" href="jobs.html">La Radio Insoumise recrute ! Cliquez ici si vous souhaitez nous aider.</a></p>
  </div>
{% endblock %}

{% block javascript %}
{% endblock %}
