{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="page page--home">
    <h1>
      <img src="images/logo_webradio.svg" alt="Radio Insoumise" />
      <p>La radio sans cravate</p>
    </h1>
    <h2>Page déplacée !</h2>
    <p class="intro">
      Cette page a été déplacée. Si vous n'avez pas été redirigé⋅e
      automatiquement, merci de cliquer sur le lien suivant pour
      <a href="benevolat.html">accéder à la liste des rôles à pouvoir pour faire
      fonctionner la radio</a>.
    </p>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">window.location = 'benevolat.html';</script>
{% endblock %}
