// Color Palette
// examples based on the official Sass styleguide

// descriptive colors
// =============

$white:                     #fff;
$black:                     #000;

$fi-blue:                   #0098B6;
$fi-blue-bright:            #23B9D0;
$fi-blue-dark:              #1F3356;
$fi-red:                    #C9462C;
$fi-red-bright:             #E23D22;

$bg-grey:                   #E3DFDB;

// main color palette
// =============
$color-primary:             $fi-blue;
$color-secondary:           $fi-red;
$color-shadow:              rgba($black, .25);

// Common colors
$color-background:          $bg-grey;
$color-background-heading:  $white;
$color-text:                $fi-blue-dark;

// Links
$color-link:                $color-primary;
$color-link-hover:          $fi-blue-bright;
$color-link-visited:        $color-primary;

// Code
$color-code:                #333;
$color-code-background:     #f3f3f3;
$color-pre:                 #d4d4d4;
$color-pre-background:      #333;

// Selections
$color-selection:           #b3d4fc;

// Messages
$color-message:             #f4ecbb;
$color-success:             #2cde2c;
$color-warning:             #cf8600;
$color-important:           #d00;
$color-notice:              #66b;
