
header {
  background: $color-background-heading;
  box-shadow: 0 1px 10px 0 $color-shadow;
  padding: .5rem 1rem;

  .logo {
    display: block;
    margin: auto;
    max-width: 320px;
  }

  nav {
    flex-grow: 1;
    font-family: $font-family-sans;
    margin: 1rem auto 0;
    max-width: rem(300);

    ul {
      @extend .hlist, .hlist--spaced;
    }

    a {
      color: $fi-red;
      display: block;
      font-weight: bold;
      padding: 1rem;
      position: relative;

      &.active {
        color: $fi-red-bright;

        &:before,
        &:after {
          border-color: $fi-red $fi-red transparent transparent;
          border-style: solid;
          border-width: 1px;
          content: "";
          display: block;
          height: 5px;
          position: absolute;
          transition: border-color .2s;
          width: 5px;
        }

        &:before {
          left: 0;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }

        &:after {
          right: 0;
          top: 50%;
          transform: translateY(-50%) rotate(-135deg);
        }
      }

      @include hover() {
        color: $fi-blue-bright;

        &:after {
          border-color: $fi-blue-bright $fi-blue-bright transparent transparent;
        }
      }
    }
  }

  @include mq(medium) {
    nav {
      max-width: none;

      a {
        &.active {
          &:after {
            bottom: 5px;
            left: 50%;
            right: auto;
            transform: translateX(-50%) rotate(135deg);
            top: auto;
          }

          &:before { display: none; }
        }
      }
    }
  }

  @include mq(large) {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    .logo { margin: 0; }

    nav {
      font-size: 1.25rem;
      margin: 0 1rem;
    }
  }

  @include mq(xlarge) {
    nav {
      font-size: 1.75rem;
    }
  }
}
